    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        outline: none;
        font-family: 'Playfair Display', serif;
        color: #e2e8fa;
    }
    
    body {
        background: rgb(130, 46, 198);
        background: radial-gradient(circle, rgba(130, 46, 198, 1) 0%, rgba(154, 40, 192, 1) 24%, rgba(173, 36, 187, 1) 62%, rgba(169, 37, 188, 1) 80%, rgba(226, 23, 173, 1) 94%);
    }
    
    nav {
        position: fixed;
        width: 100%;
        padding: 10px;
        margin-top: -20px;
    }
    
    .hidden {
        display: none;
    }
    
    .nav {
        display: flex;
        list-style: none;
        justify-content: space-between;
        text-align: center;
    }
    
    .nav li {
        justify-content: space-around;
        text-align: center;
    }
    
    .nav li a {
        text-decoration: none;
        color: #ffff;
        justify-content: space-between;
        text-align: center;
    }
    
    #ab {
        margin-left: 50px;
    }
    
    .profile {
        margin-left: 20px;
        height: 100%;
        width: 35%;
        height: 100%;
        margin: auto;
        width: 60%;
        padding: 50px;
        margin-top: 20px;
    }
    
    .image {
        width: 40%;
        padding: 10px;
        margin-left: 80px;
    }
    
    .image img {
        width: 150px;
        margin: 0 auto;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid grey;
    }
    
    .intro h1 {
        text-align: center;
    }
    
    .typed-text {
        color: #111;
    }
    
    .cursor {
        display: inline-block;
        width: 3px;
        margin-left: 0.1rem;
        animation: blink 1s infinite;
        background-color: #1748E2;
        height: 45px;
    }
    
    span .cursor.typing {
        animation: none;
    }
    
    @keyframes blink {
        0% {
            background-color: #111;
        }
        49% {
            background-color: #111;
        }
        50% {
            background-color: transparent;
        }
        99% {
            background-color: transparent;
        }
        100% {
            background-color: #111;
        }
    }
    
    .intro p {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .buttons {
        margin-top: 20px;
    }
    
    .buttons ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .btn {
        border: none;
        background-color: #1748E2;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-size: 18px;
        margin-left: 7px;
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }
    
    .btn:hover {
        animation: pulse 1s alternate ease-in-out infinite;
    }
    
    @keyframes pulse {
        from {
            transform: scale(1, 1);
            box-shadow: none;
        }
        to {
            transform: scale(1.05, 1.05);
            box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
        }
    }
    
    .about {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-top: 80px;
    }
    
    .about hr {
        margin-left: 0;
    }
    
    .abo p {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .icon-list {
        display: flex;
        justify-content: space-around;
    }
    
    .skill-icon {
        margin-top: 10px;
        box-shadow: 0px 4px 12px -4px #111;
        border-radius: 10%;
        padding: 4px 4px 0 4px;
    }
    
    .skills h2 {
        text-align: center;
        margin-top: 20px;
    }
    
    .line {
        width: 0px;
        height: 100px;
        border: 1px solid #111;
        background-color: #111;
        margin: 0 auto;
        border-width: thin;
    }
    
    .icons {
        margin-top: 50px;
    }
    
    .work-icon {
        background-color: #111;
        border-radius: 90%;
        padding: 3px;
        padding-left: 6px;
        padding-right: 6px;
    }
    
    .experience {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin: auto;
        margin-top: 20px;
    }
    
    .experience hr {
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .experience-wrap {
        border: none;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 90px;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-left: -20px;
    }
    
    .details {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        margin-left: 0px;
        display: flex;
    }
    
    .content {
        margin-left: 10px;
    }
    
    .content h6 {
        color: #343434;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    
    .content span {
        display: flex;
    }
    
    .content span h4 {
        margin-right: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .content span h5 {
        margin-top: 0px;
        color: #343434;
        margin-left: 10px;
    }
    
    .content p {
        font-size: 13px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    
    hr {
        background-color: #111;
        background: #111;
        border-radius: 500px 10px 500px 10px;
        border: 2px solid #111;
        margin: 0 100px 10px 20px;
    }
    
    .details {
        margin-left: 10px
    }
    
    .onScroll {
        background: rgb(130, 46, 198);
        ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .socials {
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .link {
        font-size: 20px;
    }
    
    #link :hover {
        color: #0e76a8;
    }
    
    #git:hover {
        color: #fff;
    }
    
    .socials a {
        background-color: black;
        padding: 2px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 50%;
    }
    
    #ig :hover {
        color: #C13584;
    }
    
    .contact h3 {
        text-align: center;
    }
    
    .mail {
        text-align: center;
        text-decoration: none;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .mail a {
        text-decoration: none;
    }
    
    .mail a:hover,
    #mail:hover {
        color: #111;
    }
    
    @media screen and (min-width:900px) {
        .left-side {
            width: 50%;
            position: fixed;
            float: left;
        }
        .right-side {
            width: 50%;
            float: right;
        }
        .hide {
            margin-top: 50px;
            width: 50%;
            display: none;
        }
        .profile {
            margin-left: 0;
            width: 100%;
            margin-top: 100px;
        }
        .image img {
            margin-left: 50%;
        }
        .hidden {
            display: contents;
        }
        .nav {
            position: fixed;
            padding: 10px;
            margin-top: 0px;
            width: 50%;
            background: rgb(130, 46, 198);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .onScroll {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
    
    @media screen and (max-width:650px) {
        #ab {
            margin-left: 0;
        }
        .image img {
            margin-left: -20px;
        }
    }
    
    @media screen and (max-width:580px) {
        .image img {
            margin-left: -40px;
        }
    }
    
    @media screen and (max-width:546px) {
        .image img {
            margin-left: -60px;
            margin-top: 70px;
        }
        .intro h1 {
            font-size: 20px;
        }
        .cursor {
            height: 30px;
        }
        .intro p {
            font-size: 15px;
            width: 250px;
            margin-left: -30px;
        }
        .buttons ul li a button {
            font-size: 15px;
        }
    }
    
    @media screen and (max-width:459px) {
        .image img {
            margin-left: -80px;
        }
        .intro p {
            font-size: 12px;
        }
        .skills h2 {
            font-size: 20px;
        }
    }
    
    @media screen and (max-width:409px) {
        .image img {
            margin-left: -90px;
        }
        .intro p {
            font-size: 11px;
            width: 200px;
        }
        .skills h2 {
            font-size: 20px;
        }
        .typed-text {
            font-size: 16px;
        }
        .intro h1 {
            font-size: 18px;
        }
        .cursor {
            height: 28px;
        }
        .skills h2 {
            font-size: 16px;
        }
        .buttons ul li a button {
            font-size: 10px;
        }
        .content h5 {
            font-size: 4px;
        }
    }
    
    @media screen and (max-width:362px) {
        .image img {
            margin-left: -100px;
        }
        .typed-text {
            font-size: 15px;
        }
        .cursor {
            height: 26px;
            margin-top: 2px;
        }
        .intro h1 {
            font-size: 16px;
        }
    }